@font-face {
    font-family: 'Party Plain';
    src: url('/fonts/Party LET.ttf'); /* IE9 Compat Modes */
}

body{
    background-image: url("/images/experiencesoiree_bg.png");
    background-size: cover;
    background-repeat : no-repeat;
}

#body{
    display: none;
}

#container{
    width: 500px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#container.load{
    opacity: 1;
}

#emailSignupDiv{
    text-align: center;
    display: block;
}

#emailSignupInput{
    width: 400px;
    height: 50px;
    font-size: 28px;
    text-align: center;
    margin: auto auto;
    font-family: "Open Sans", "Helvetica Neue Light", "Arial";
    display: none;
}

#emailSignupSubmit{
    text-align: center;
    margin: auto auto;
    width: 400px;
    height: 50px;
    font-size: 28px;
    display: block;
    margin-top: 10px;
    font-family: "Open Sans", "Helvetica Neue Light", "Arial";
    display: none;
}

#soiree{
    color: white;
    font-size: 200px;
    text-align: center;
    font-family: "Party Plain", "Cedarville Cursive", "Open Sans", "Arial";
    margin-bottom: -20px;
    padding-bottom: 0px;
    /*-webkit-text-stroke: 1px #DDD;*/
    display: none;
    text-shadow:1px 1px #000;

}

#successMessage{
    display: none;
    font-family: "Cedarville Cursive", "Open Sans", "Arial";
    /*font-family: "HelveticaNeue-Thin";*/
    font-size: 42px;
    color: white;
    text-shadow:1px 1px #000;
}