html,body{
    background-image: url("/images/experiencesoiree_bg2.png");
    background-repeat : no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*display: none;*/
}

html{
    min-height: 100%;
}

#slogan{
    text-align: center;
    width: 400px;
    font-size: 42px;
    font-family: "Cedarville Cursive", "Party LET", "Arial";
    color: white;
    text-shadow:1px 1px #000;
    display: none;
    margin: 25px auto;
}


#container{
    width: 500px;
    height: 500px;
    position: absolute;
    top:10%;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: black;*/

    margin: auto;
}

#container.load{
    opacity: 1;
}

#emailSignupDiv{
    text-align: center;
    display: block;
}

#emailSignupInput{
    width: 400px;
    height: 50px;
    font-size: 28px;
    text-align: center;
    margin: auto auto;
    font-family: "Open Sans", "Helvetica Neue Light", "Arial";
    display: none;
    margin-top: -25px;
    border-radius: 5px;
}

.signupButton{
    text-align: center;
    margin: auto auto;
    width: 400px;
    height: 50px;
    font-size: 28px;
    display: block;
    margin-top: 10px;
    font-family: "Open Sans", "Helvetica Neue Light", "Arial";
    /*-webkit-border-radius: 5px;*/
    /*background-color:white;*/
    display: none;
}

.signupButton:hover{
    background-color: #DDD;
    border-width:1px;
}

#infoButton{
    background-color: rgba(214,65,31, 1);
    /*color:white;*/
    border-width: 1px;
}

#infoButton:hover{
    background-color: rgb(190,55,25);
    /*background-color: rgba(214,65,31,1);*/

}

#soiree{
    color: white;
    font-size: 200px;
    text-align: center;
    font-family: "Party LET", "Cedarville Cursive", "Open Sans", "Arial";
    margin-bottom: -20px;
    padding-bottom: 0px;
    display: none;
    text-shadow:1px 1px #000;

}

.message{
    display: none;
    font-family: "Cedarville Cursive", "Party LET", "Arial";
    font-size: 42px;
    color: white;
    text-shadow:1px 1px #000;
    text-align: center;
}

.radioButtonDivLabel{
    display: none;
    font-size: 48px;
    text-align: center;
    font-family: "Cedarville Cursive", "Party LET", "Arial";
    color: white;
    text-shadow:1px 1px #000;
    margin: auto;
    cursor: pointer;

}

.radioButtonDiv{
    display: none;
    font-family: "Cedarville Cursive", "Party LET", "Arial";
    width: 450px;
    height: 50px;
    color: white;
    font-size: 48px;
    margin:auto;
    padding:auto;
    text-shadow:1px 1px #000;
    margin-bottom: 75px;
    cursor: pointer;

}

.radioButton{
    width:200px;
    font-size: 36px;
    background-color: rgb(214,65,31);
    color: white;
    text-shadow:1px 1px #000;
    cursor: pointer;

}

/*.radioButton:hover{*/
    /*background-color: rgb(190,55,25);*/
    /*color: #DDD;*/
/*}*/

#infoBackButton{
    display:block;
}

#backButton{

}

.backButton{
    display:block;
    display:none;
    margin:auto;
    margin-top: 15px;
    /*font-family: "Open Sans", "Helvetica Neue Light", "Arial";*/
    font-family: "Cedarville Cursive", "Party LET", "Arial";
    /*color: white;*/
    font-size: 32px;
    /*background-color: rgb(214,65,31);*/
    /*text-shadow:1px 1px #666;*/
    width:400px;

}

.infoText{
    /*font-weight: bold;*/
    margin-top: 25px;
}

#infoDivText{
    margin: 35px auto;
}

#infoTextHeader{
    text-align:center;
    text-decoration: underline;
    font-size: 48px;
    font-family: "Cedarville Cursive", "Party LET", "Arial";
    color: white;
}


#infoDiv{
    color: white;
    font-family: "Open Sans", "Helvetica Neue Light", "Arial";
    font-size:28px;
    display:none;
    width: 100%;
    height: 100%;
    padding: 50px 20%;
    margin: 0px auto;
    background-color: rgba(0,0,0,.5);
    text-shadow: 1px 1px #000;
}


.buttonDiv{
    text-align:center;
}

