@font-face {
    font-family: 'Party Plain';
    src: url('/fonts/Party LET.ttf'); /* IE9 Compat Modes */
}

#body{
    background-image: url("/images/experiencesoiree_bg.png");
    background-repeat : no-repeat;
    background-size: cover;
    /*display: none;*/
}

html{
    min-height: 100%;
}

#slogan{
    text-align: center;
    width: 400px;
    font-size: 42px;
    font-family: "Cedarville Cursive", "Open Sans", "Arial";
    color: white;
    text-shadow:1px 1px #000;
    margin: auto;
    display: none;
    margin-top: 25px;
}


#container{
    width: 500px;
    height: 500px;
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: black;*/

    margin: auto;
}

#container.load{
    opacity: 1;
}

#emailSignupDiv{
    text-align: center;
    display: block;
}

#emailSignupInput{
    width: 400px;
    height: 50px;
    font-size: 28px;
    text-align: center;
    margin: auto auto;
    font-family: "Open Sans", "Helvetica Neue Light", "Arial";
    display: none;
    margin-top: -25px;
}

.signupButton{
    text-align: center;
    margin: auto auto;
    width: 400px;
    height: 50px;
    font-size: 28px;
    display: block;
    margin-top: 10px;
    font-family: "Open Sans", "Helvetica Neue Light", "Arial";
    display: none;
}

#soiree{
    color: white;
    font-size: 200px;
    text-align: center;
    font-family: "Party Plain", "Cedarville Cursive", "Open Sans", "Arial";
    margin-bottom: -20px;
    padding-bottom: 0px;
    display: none;
    text-shadow:1px 1px #000;

}

#successMessage{
    display: none;
    font-family: "Cedarville Cursive", "Open Sans", "Arial";
    font-size: 42px;
    color: white;
    text-shadow:1px 1px #000;
}
