html,body{
    background-image: url("/images/checkout_bg.jpg");
    background-repeat : no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    /*display: none;*/
}

#colorContainer{
    width: 100%;
    height:100%;
    margin: auto;
    background: rgba(0,0,0,.75);
}

#messageContainer{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 300;
    width: 60%;
    height: 500px;
    margin:auto;
}

#details-header{
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
    font-weight: bold;
}

#details-address{
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 26px;
}

#open-payment-button{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(39,115,186);
    width: 60%;
    font-size: 20px;
    height: 60px;
}

#open-payment-button:hover{
    background-color: rgb(29,95,160);
}

p.details{
    margin-bottom: 10px;
}
#payment-button{
    hidden: true;
    font-weight: 100;
    height: 40px;
    font-size: 18px;
    /*text-transform: uppercase;*/
    background-color: rgb(36, 194, 92);
    color: white;
    border: none;
    margin-top: 20px;

}

#back-button{
    color: black;
    margin-top: 25px;
    background-color: transparent;
    border: none;
    color: rgba(255,255,255,0.75);

}

#soiree-details{
    padding-top:0;
    margin-top: 0;
    /*text-align: center;*/
}

#bt-form-padding{
    height: 25%;
    /*opacity:0;*/
    display:none;
    margin-bottom: 0;
    margin-top:0;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
}

#bt-dropin-wrapper{
    margin: auto;
    width: 60%;
    min-height: 90%;

    /*display: block;*/
    /*background-color: rgba(0,0,0,0.5);*/
    padding-top: 9%;
    padding-bottom: 9%;
    margin-bottom: 0;

    /*position: absolute;*/
    /*top:-20%;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/

    display: none;
}

#details-description{
    width: 90%;
    font-weight: 100;
    margin: auto;
    font-size: 18px;
}

#_container{
    background-color: rgba(0,0,0,0.75);

    width:50%;
    margin: auto;
}

#details-container{
    /*background-color: rgba(0,0,0,0.75);*/
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 50px 20px;

    /*width:50%;*/
    /*margin: auto;*/
    /*padding: 50px 20px;*/
    /*height: 85%;*/

    /*position: absolute;*/
    /*top:0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}

#details-container h4{
    font-weight: 300;
    font-size: 22px;
}

.button{
    background-color: #5CD493;
    border: none;
    border-radius: 2px;
    /*display: inline-block;*/
    color: #fff;
}

#email{
    width: 100%;
    height: 60px;
    font-size: 16px;
    margin-top: 15px;
}

#fine-print{
    font-size: 10px;
    margin-top: 25px;
    color: rgba(255,255,255,.75);
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0px;
}


