#welcomeHeader{
    text-align:center;
    font-size:42px;
}

#confirmationCodeInput {
    text-transform: uppercase;
    width:400px;
    margin:auto;
    margin-top:50px;
    height:60px;
    font-size:24px;
}

#confirmationCodeButton{
    width:400px;
    margin:auto;
    height:50px;
    font-size:22px;
    margin-top:10px;
}


#confirmationCodeForm{
    position:absolute;
    top:-10%;
    left:0;
    right:0;
    bottom:0;
    width:700px;
    height:300px;
    margin:auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}