#welcomeHeader{
    text-align:center;
    font-size:42px;
}

#confirmationCodeInput {
    text-transform: uppercase;
    width:400px;
    margin:auto;
    margin-top:50px;
    height:60px;
    font-size:24px;
}

#confirmationCodeButton{
    width:400px;
    margin:auto;
    height:50px;
    font-size:22px;
    margin-top:10px;
}

#successMessageDiv{
    /*width: 600px;*/
    display: inline-block;
    height: 200px;
    opacity:0;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 24px;
    border-width: 2px;
    border-color: rgba(0,0,0,1);
}

.successMessageDivImage{
    float: left;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.successMessageText{
    float: right;
    text-align: left;
    margin-left: 10px;

}

#upcomingSoireesDiv{
    width:100%;
    background-color: rgb(39,115,186);
    padding: 20px;
    color: white;
}

#upcomingSoireesList{
    display: inline-block;
    margin-bottom: 0px;

}

.upcomingSoireeStrongItem{
    font-weight: bold;
}

.upcomingSoireeListItem{
    display: inline;
    margin-right: 25px;
}

.upcomingSoireeLink{
    color: white;
}
.upcomingSoireeLink:hover{
    color: lightgray;
}
/*#confirmationCodeForm{*/
    /*position:absolute;*/
    /*top:-10%;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/
    /*width:700px;*/
    /*height:300px;*/
    /*margin:auto;*/
/*}*/

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}