{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/" />
{{/extend}}

{{#extend "scripts"}}
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

//    var socket = io.connect('http://localhost');
    socket.on('connect', function(){
//        alert('Connected');
    });

    socket.on('test', function (data) {
        alert("received :" + data);
    });

    socket.emit('authentication', {username: "John", password: "secret"});
    socket.on('authenticated', function() {
        // use the socket as usual
        alert("authenticated");
    });
</script>
{{/extend}}


<h1> Test Socket: {{namespace}} </h1>
