.verification-div{
    /*position: absolute;*/
    /*top:0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    font-size: 24px;

}

.verification-image{
    max-width: 300px;
    max-height: 300px;
}

.id-image{
    display: inline-block;
}

.self-image{
    display: inline-block;
}

.image-li{
    display: inline-block;
}