{{#extend "stylesheets"}}
   <!-- <link rel="stylesheet" href="/stylesheets/" /> -->
{{/extend}}

{{#extend "scripts"}}
<!-- <script src="/javascripts/"></script> -->
<script>

</script>
{{/extend}}

<h1><strong>{{numSignups}}</strong> people signed up so far!</h1>
<ul>
    {{#each list.confirmationCodes}}
        <li> {{this.email}} - {{this.confirmationCode}}</li>
    {{/each}}
</ul>