{{#extend "stylesheets"}}
   <!-- <link rel="stylesheet" href="/stylesheets/" /> -->
<link rel="stylesheet" href="/bower_components/jquery-timepicker-wvega/jquery.timepicker.css" />
{{/extend}}

{{#extend "scripts"}}
<!-- <script src="/javascripts/"></script> -->
<script type="text/javascript" src="/bower_components/jquery-timepicker-wvega/jquery.timepicker.js"></script>
<script>
    $('#timepicker').timepicker({
        interval: 15
    });

</script>
<script type="text/javascript">
    createEditableSelect(document.forms[0].text());
</script>
{{/extend}}

<form class="form-signin" action='/admins/createSoiree' id="createSoireeForm" method='POST'>
    <h2 class="form-signin-heading">Create A Soiree</h2>

    <input type="text" id="inputName" class="form-control" placeholder="Title" name='soireeTitle' required autofocus>

    <input type="text" id="inputNumUsersMax" class="form-control" placeholder="Maximum Number Of People" name='numUsersMax' required>

    <input type="text" id="inputNumUsersMin" class="form-control" placeholder="Minimum Number Of People" name='numUsersMin' required>

    <input id="date" type="date" class="form-control" placeholder= "Day" name = 'day' required>

    <input id="timepicker" type="text" class="form-control" placeholder= "Time" name = 'time' required>

    <input list="soireeType" class="form-control" name="soireeType" placeholder="Soiree Type" type = "text">
    <datalist id = "soireeType">
         {{#each soireeTypes}}
            <option class="inputSoireeType"  value = {{this}}>{{this}} </option>
         {{/each}}
    </datalist>

    <input list="business" class="form-control" name="businessId" placeholder="Business" type = "text">
    <datalist id = "business">
        {{#each businesses}}
            <option class="inputBusiness" value = {{this.businessId}}><span class='inputSoireeTypeText'>{{this.businessName}}</span> </option>
        {{/each}}
    </datalist>
    <input name="initialCharge" type="text" class="form-control" placeholder="Initial Charge (e.x. 0.99)" />
    <input name="whatYouGet" type="text" class="form-control" placeholder="What the user gets" />



    <!--<label for="inputPassword" class="sr-only">Password</label>-->
    <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" name='password' required>-->

    <button class="btn btn-lg btn-primary btn-block submit_button" type="submit" id="registerButton">Create Soiree</button>

</form>
