{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/admins/idVerifications.css" />
{{/extend}}

<ul>
    {{#each verifications}}
		<li>
            <ul>
                <li> User: {{this._user.firstName}}  {{this._user.lastName}} </li>
                <li> Id Image: <img class="verification-image" src='{{this.idImagePath}}'/> </li>
                <li> Self Image: <img class="verification-image" src='{{this.selfImagePath}}'/>  </li>
                <li> <button> Verify </button> <button> Reject </button> </li>
            </ul>
        </li>
	{{/each}}
</ul>

{{#extend "scripts"}}
    <script>
        function fetchMoreVerifications(){

        }

    </script>
{{/extend}}