{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/admins/idVerifications.css" />
{{/extend}}

<ul>
    {{#each verifications}}
        <li>
            <div class="verification-div">
                <ul>
                    <li> User: {{this._user.firstName}}  {{this._user.lastName}} </li>
                    <li> Id Image: <img class="verification-image id-image" src='{{this.idImagePath}}'/> </li>
                    <li> Self Image: <img class="verification-image self-image" src='{{this.selfImagePath}}'/>  </li>
                    <li> <button> Verify </button> <button> Reject </button> </li>
                </ul>
            </div>
        </li>
	{{/each}}
</ul>

{{#extend "scripts"}}
    <script>
        var verifications = [
            {{#each verifications}}
                this
            {{/each}}
        ];

        function fetchMoreVerifications(){

        }

        function createNextVerificationDiv(){
            var verification = verifications[0];
            return "<li>" +
                "<ul>" +
                "<li> User: " + verification._user.firstName +  verification._user.lastName + "</li>"
                + "<li> Id Image: <img class='verification-image' src='" + verification.idImagePath + "'/> </li>" +
                        "<li> Self Image: <img class='verification-image' src='" + verification.selfImagePath + "'/>  </li>" +
                       "<li> <button> Verify </button> <button> Reject </button> </li>"
                + "</ul>"
                + "</li>";
        }

    </script>
{{/extend}}