{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/admins/idVerifications.css" />
{{/extend}}

<div id="verification">
    Loading...
</div>


{{#extend "scripts"}}
    <script>
        var verifications = [];
        var currentVerification;
        var showOnLoad = true, previousLoadEmpty = false;
        var MinNumVerifications = 4;

        function fetchMoreVerifications(){
            $.ajax({url: '/admins/verifications/fetchVerifications', method : "GET", data:{}})
                    .done(function(responseArr){
//                        alert("fetched verifications: " + JSON.stringify(responseArr));
                        verifications = verifications.concat(responseArr);
//                        alert('verifications= ' + JSON.stringify(verifications));
//                        $("#verification").html(responseArr);

                        if (responseArr.length < MinNumVerifications){
                            previousLoadEmpty = true;
                            if (verifications.length == 0 && !currentVerification){
                                noMoreVerifications();
                            }
                        }
                        if (showOnLoad){
                            showNextVerification();
                            showOnLoad = false;
                        }

                    }).fail(function(err){
                        alert("Failed: " + err + ". retrying in 3 seconds...");
                        setTimeout(fetchMoreVerifications, 3000);
                    });
        }

        function showNextVerification(){
            currentVerification = null;

//            alert('shownextverification');
//            if (verifications.length <= MinNumVerifications && !previousLoadEmpty){
//                alert('fetching more');
//                fetchMoreVerifications();
//            }
            if (verifications.length > 0){
                currentVerification = verifications.splice(0,1)[0];
//                alert('showing verification ' + JSON.stringify(currentVerification));
                var verificationDiv = createVerificationDiv(currentVerification);
//                alert(verificationDiv);
                $("#verification").html(verificationDiv);
//                alert('3' + JSON.stringify(currentVerification));

            }
            else{
                noMoreVerifications();
            }
        }

        function noMoreVerifications(){
            $("#verification").html("No verifications pending");
        }

        function createVerificationDiv(verification){
            if (!verification){
                alert('passed empty verification');
                return null;
            }

            var str =
                    "<div id='verificationContainer'>" +
                "<div><h3 class='userName'>User: " + verification._user.firstName + " " + verification._user.lastName + "</h3></div>"
                + "<div id='verificationImages'><div class='verificationImageDiv'> Id Image: <br /> <img class='verificationImage' src='" + verification.idImagePath + "'/> </div>" +
                        "<div class='verificationImageDiv'> Self Image: <br /> <img class='verificationImage' src='" + verification.selfImagePath + "'/>  </div></div>" +
                       "<div class='verificationButtons'> <button onclick='accept()'> Accept </button> <button onclick='reject()'> Reject </button> </div>"
                + "</div>"

            return str;
        }

        function accept(){
//            alert(JSON.stringify(currentVerification));
            if (currentVerification){
//                alert('accept()');
                $.ajax({url: '/admins/verifications/accept', method : "POST", data:{"_id" : currentVerification._id}})
                        .done(function(responseObject){
                            alert("Succeeded " + responseObject);
                            showNextVerification();
                        }).fail(function(err){
                            alert("Failed: " + err);
                        });
            }
            else{
                alert('no current verification');
            }
        }

        function reject() {
            if (currentVerification) {

//            alert('reject()');
                $.ajax({url: '/admins/verifications/reject', method: "POST", data: {"_id": currentVerification._id}})
                        .done(function (responseObject) {
                            alert("Succeeded " + responseObject);
                            showNextVerification();
                        }).fail(function (err) {
                            alert("Failed: " + err);
                        });
            }
            else {
                alert('no current verification');
            }
        }

        fetchMoreVerifications();

    </script>
{{/extend}}