<form action="/adminLogin" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="email" id="email1"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" id="password1"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>