{{#extend "stylesheets"}}
{{/extend}}

<ul>
    {{#each businesses}}
        <li>{{this.businessName}} : {{this.businessId}}</li>
    {{/each}}
</ul>


{{#extend "scripts"}}
<script>

</script>
{{/extend}}

