{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/consumer/index.css" />
    <link href='https://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
{{/extend}}

<div id="container">
    <h1 id="soiree"> Soirée </h1>

    <div id="emailSignupDiv">
        <input type="email" name="email" placeholder="email address" id="emailSignupInput" autofocus />

        <button type="button" class="signupButton" id="emailSignupSubmit" onclick="signupEmail()">signup for the beta</button>
        <h3 id="slogan"> for the best summer of your life </h3>

    </div>
    <p id="successMessage">Congratulations! You've signed up for the Soirée beta. We'll contact you very soon with an invitation.</p>
</div>

{{#extend "scripts"}}
    <script>
        var signingUp = false;
        var buttonAnimationDuration = 1000;
        var animatingNormal = false;
        var animatingBusy = false;

        var _animateButtonNormal = false;
        var _animateButtonBusy = false;

        var originalText = $("#emailSignupSubmit").text();
        var busyText = "just a sec boo...";

        var str = "";

        function startedRequest(){
            signingUp = true;
            $('#emailSignupSubmit').text(busyText);

//            if (animatingNormal || animatingBusy){
//                _animateButtonBusy = true;
//            }
//            else animateButtonBusy();
        };

        function finishedRequest(){
            signingUp = false;
            $('#emailSignupSubmit').text(originalText);

//            if (animatingNormal || animatingBusy){
//                _animateButtonNormal = true;
//            }
//            else animateButtonNormal();
        }

        function animateButtonNormal(){
            $('#emailSignupSubmit').fadeOut(buttonAnimationDuration);

            setTimeout(function(){
                $('#emailSignupSubmit').text(originalText);

                $('#emailSignupSubmit').fadeIn(buttonAnimationDuration);
                animatingNormal = false;
                _animateButtonNormal = false;

                if (_animateButtonBusy){
                    animateButtonBusy();
                }
            }, buttonAnimationDuration + 1);
        }

        function animateButtonBusy(){
            animatingBusy = true;

            $('#emailSignupSubmit').fadeOut(buttonAnimationDuration);

            setTimeout(function(){
                $('#emailSignupSubmit').text(busyText);

                $('#emailSignupSubmit').fadeIn(buttonAnimationDuration);
                animatingBusy=false;
                _animateButtonBusy = false;

                if (_animateButtonNormal){
                    animateButtonNormal();
                }
            }, buttonAnimationDuration + 10);
        }

        function signedUp(){
            $("#soiree").fadeOut(250);
            $("#emailSignupInput").fadeOut(250);
            $("#emailSignupSubmit").fadeOut(250);
            $("#slogan").fadeOut(250);
            setTimeout(function(){$("#successMessage").fadeIn(250);}, 251);

        };

        function signupEmail(){
            if (!signingUp) {

                var email = $("#emailSignupInput").val();
                startedRequest();

//                setTimeout(function(){finishedRequest();}, 500);

            $.ajax({
                url: '/addEmail',
                method : 'POST',
                data : {email : email},
                success: function(){
                    signedUp();
                },
                error: function(err){
                    finishedRequest();

                    if (err.responseText === "InvalidEmail"){
                        alert("Sorry bae but it looks like you entered an invalid email address");
                    }
                    else if (err.responseText === "EmailExists"){
                        alert("Hold up boo it looks like this email address is already signed up");
                    }
                    else alert("There was an error signing you up. Sorry <3. Maybe try again? ");
                }
            });
            }
        };


        body.onload = function(){
//            $("#body").show();
            setTimeout(function(){$("#soiree").fadeIn(2000);}, 500);
            setTimeout(function(){$("#emailSignupInput").fadeIn(1500);}, 3500);
            setTimeout(function(){$("#emailSignupSubmit").fadeIn(1500);}, 4300);
            setTimeout(function(){$("#slogan").fadeIn(1000);}, 6000);

        };


    </script>
    <script src="/javascripts/spin.js" />

{{/extend}}


