{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/consumer/index.css" />
{{/extend}}

{{#extend "scripts"}}
 <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script>
    var pageCurrentlyShowing = "party";
    var animLen = 300;
    var loadedPaymentForm = false;
    var showingPaymentForm = false;

    loadPaymentForm();


    function showPaymentForm(){
        showingPaymentForm = true;

        $("#party-details-container").fadeOut(animLen, function(){
            $("#bt-form-padding").show();
            $("#bt-dropin-wrapper").fadeIn(500, function(){

            });

        });
    }

    function backToPartySignup(){
        showingPaymentForm = false;

        $("#bt-dropin-wrapper").fadeOut(animLen, function(){
            $("#party-details-container").fadeIn(500, function(){

            });

        });
    }

    function loadPaymentForm(){
        if (!loadedPaymentForm){
            loadedPaymentForm = true;
            var token = "{{clientToken}}";

            braintree.setup(token, "dropin", {
                container: "bt-dropin",
                singleUse : true,
                amount : 21.00,
                currency : 'USD'
            });
        }

    }

    function showPage(targetPage){
        if (targetPage === pageCurrentlyShowing){
            if (targetPage === "party" && showingPaymentForm){
                backToPartySignup();
            }
            return;
        }

        var containerToHide, containerToShow, tabToSelect, tabToDeselect;

        if(pageCurrentlyShowing === "info"){
            containerToHide = "#info-container";
            tabToDeselect = "#infoTab";
        }
        else if (pageCurrentlyShowing === "party"){
            if (showingPaymentForm) containerToHide = "#bt-dropin-wrapper";
            else containerToHide = "#party-details-container";
            tabToDeselect = "#partyTab";
        }
        else if (pageCurrentlyShowing === "different"){
            containerToHide = "#different-container";
            tabToDeselect = "#differentTab";

        }
        else if (pageCurrentlyShowing === "taste"){
            containerToHide = "#taste-container";
            tabToDeselect = "#tasteTab";
        }



        if (targetPage === "info") {
            containerToShow = "#info-container";
            tabToSelect = "#infoTab";
        }
        else if (targetPage === "party") {
            containerToShow = "#party-details-container";
            tabToSelect = "#partyTab";
        }
        else if (targetPage === "different"){
            containerToShow = "#different-container";
            tabToSelect = "#differentTab";

        }
        else if (targetPage === "taste"){
            containerToShow = "#taste-container";
            tabToSelect = "#tasteTab";
        }

        pageCurrentlyShowing = targetPage;

//        alert("hiding " + containerToHide + " showing " + containerToShow);


        $(containerToHide).fadeOut(animLen, function() {
            $(containerToShow).fadeIn(animLen, function () {

            });
        });

        $(tabToDeselect).removeClass("active");
        $(tabToSelect).addClass("active");

        if (targetPage === "party"){
            loadPaymentForm();
        }
        if (showingPaymentForm){
            showingPaymentForm = false;
        }


    }
</script>

{{/extend}}

<nav class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="party-let" id="logo">Soirée</span></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li id="infoTab"><a href="javascript:;" onclick="showPage('info')">What is Soirée?</a></li>
                <li id="differentTab"><a href="javascript:;" onclick="showPage('different')">How are we different?</a></li>
                <li id="tasteTab"><a href="javascript:;" onclick="showPage('taste')">A taste of Soirée</a></li>
                <li id="partyTab" class="active"><a href="javascript:;" onclick="showPage('party')">Party August 11th</a></li>

                <li></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>

</nav>

<div id="_container">
    <!-- Info -->
    <div id="info-container">
        <div style="text-align:center"><h4><strong>What is Soirée?<strong></h4></div>

    </div>

    <!-- Taste -->
    <div id="taste-container">
        <div style="text-align:center"><h4><strong>A taste of Soirée<strong></h4></div>

    </div>

    <!-- Different -->
    <div id="different-container">
        <div style="text-align:center"><h4><strong>How are we different?</strong></h4></div>

    </div>

    <!-- Party -->
    <div id="party-details-container">
        <h1 id="party-details-header">Soirée Takes Over Broadway</h1>

        <div id="party-details-address">
            <h4> <strong>Thursday, August 11th</strong> at <strong>6:30 PM</strong></h4>
            <h4> <strong>Broadway Comedy Club </strong></h4>
            <h4> <strong>318 W 53rd St</strong></h4>
            <h4> <strong>New York, NY 10019</strong></h4>
        </div>

        <div id="party-details-description">
            <p class="party-details">Join us and a hundred other exclusive Insiders at the famous Broadway Comedy Club as we celebrate the launch of the Soirée beta, with two hours of laughs, cheap drinks, chatting with interesting strangers, and a sneak peek into the future of new friendships. Hosted by provocative up-and-coming comedian Juannell Riley and featuring the most unique lineup of comedians ever, you will NOT leave this show without several lines to tell your friends and co-workers tomorrow.</p>
            <p class="party-details">Buy your ticket below, and make sure to download the Soirée app when it hits the app store August 8th to take advantage of an incredible deal that you will not find anywhere else!</p>
        </div>



        <div style="text-align:center">
            <button class="button" id="open-payment-button" onClick="showPaymentForm()"><span>Reserve Your Spot</span></button>
        </div>


    </div>

    <div id="bt-form-padding"></div>
    <div id="bt-dropin-wrapper">

        <div id="soiree-party-details">
            <h4 style="text-align:center">Cost:</h4>
            <h4 style="text-align:center"><strong>$21.00</strong></h4>
            <br />
            <h4>What you get:</h4>
            <ul id="soiree-party-details-list">
                <li>2 hour long comedy show</li>
                <li>2 free drinks</li>
                <li>Pokemon Go Lures all night long</li>
            </ul>

            <br />
            <h4><strong>Note: You must be 18+ to enter the club, and 21+ to buy drinks.</strong></h4>
            <br />
        </div>



        <form id="paymentForm" action="/party" method="POST">
            <div id="bt-dropin"></div>
            <input type="text" class="payment-field-additional" name="name" placeholder="Name" required />
            <input type="email" class="payment-field-additional" name="email" placeholder="Email" required />
            <!--<input type="text" class="payment-field-additional" name="email" placeholder="Phone Number" required />-->


            <div class="radioButtonDiv">
            <span class="radioButtonDivLabel"> My phone runs on: </span>
            <label class="btn btn-lg btn-default radioButton"><input type="radio" name="os" value="ios" required/> iOS </label>
                <label class="btn btn-lg btn-default radioButton"><input type="radio" name="os" value="android" required /> Android</label>
            </div>

            <div class="radioButtonDiv">
                <span class="radioButtonDivLabel"> I identify my gender as: </span>
                <label class="btn btn-lg btn-default radioButton"><input type="radio" name="gender" value="male" required/> Male </label>
                <label class="btn btn-lg btn-default radioButton"><input type="radio" name="gender" value="female" required /> Female </label>
                <label class="btn btn-lg btn-default radioButton"><input type="radio" name="gender" value="neither" required /> Neither </label>
            </div>

            <button class="form-control"  id="payment-button" type="submit"><span>Join the Party</span></button>
        </form>
        <div style="text-align:center">

        <button id="back-button" onclick="backToPartySignup()">Back</button>
            </div>
    </div>


    <p id="fine-print">Any questions? Contact us at <a style="text-decoration: none;" href="mailto:support@experiencesoiree.com"><strong>support@experiencesoiree.com</strong></a> <br/> <a href="/privacy-policy"><strong>Privacy Policy</strong></a> </p>



</div>


