{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/consumer/index.css" />
{{/extend}}

<h1 id="soiree"> Soirée </h1>

<h3 id="beta"> Signup for the Beta </h3>

<div id="emailSignupDiv">
    <form method="POST" action="/signupEmail" id="emailSignupForm">
        <input type="email" placeholder="Email" id="emailSignupInput" />
        <input type="submit" name="Submit" id="emailSignupSubmit" />
    </form>
</div>
