{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/consumer/index.css" />
{{/extend}}

{{#extend "scripts"}}
 <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script>
    var pageCurrentlyShowing = "party";
    var animLen = 300;
    var loadedPaymentForm = false;
    var showingPaymentForm = false;

    loadPaymentForm();


    function showPaymentForm(){
        showingPaymentForm = true;

        $("#party-details-container").fadeOut(animLen, function(){
            $("#bt-form-padding").show();
            $("#bt-dropin-wrapper").fadeIn(500, function(){

            });

        });
    }

    function backToPartySignup(){
        showingPaymentForm = false;

        $("#bt-dropin-wrapper").fadeOut(animLen, function(){
            $("#party-details-container").fadeIn(500, function(){

            });

        });
    }

    function loadPaymentForm(){
        if (!loadedPaymentForm){
            loadedPaymentForm = true;
            var token = "{{clientToken}}";

            braintree.setup(token, "dropin", {
                container: "bt-dropin",
                singleUse : true,
                amount : 21.00,
                currency : 'USD'
            });
        }

    }

    function showPage(targetPage){
        if (targetPage === pageCurrentlyShowing){
            if (targetPage === "party" && showingPaymentForm){
                backToPartySignup();
            }
            return;
        }

        var containerToHide, containerToShow, tabToSelect, tabToDeselect;

        if(pageCurrentlyShowing === "info"){
            containerToHide = "#info-container";
            tabToDeselect = "#infoTab";
        }
        else if (pageCurrentlyShowing === "party"){
            if (showingPaymentForm) containerToHide = "#bt-dropin-wrapper";
            else containerToHide = "#party-details-container";
            tabToDeselect = "#partyTab";
        }
        else if (pageCurrentlyShowing === "different"){
            containerToHide = "#different-container";
            tabToDeselect = "#differentTab";

        }
        else if (pageCurrentlyShowing === "taste"){
            containerToHide = "#taste-container";
            tabToDeselect = "#tasteTab";
        }



        if (targetPage === "info") {
            containerToShow = "#info-container";
            tabToSelect = "#infoTab";
        }
        else if (targetPage === "party") {
            containerToShow = "#party-details-container";
            tabToSelect = "#partyTab";
        }
        else if (targetPage === "different"){
            containerToShow = "#different-container";
            tabToSelect = "#differentTab";

        }
        else if (targetPage === "taste"){
            containerToShow = "#taste-container";
            tabToSelect = "#tasteTab";
        }

        pageCurrentlyShowing = targetPage;

//        alert("hiding " + containerToHide + " showing " + containerToShow);


        $(containerToHide).fadeOut(animLen, function() {
            $(containerToShow).fadeIn(animLen, function () {

            });
        });

        $(tabToDeselect).removeClass("active");
        $(tabToSelect).addClass("active");

        if (targetPage === "party"){
            loadPaymentForm();
        }
        if (showingPaymentForm){
            showingPaymentForm = false;
        }


    }
</script>

{{/extend}}

<nav class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="party-let" id="logo">Soirée</span></a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li id="infoTab"><a href="javascript:;" onclick="showPage('info')">What is Soirée?</a></li>
                <li id="differentTab"><a href="javascript:;" onclick="showPage('different')">How are we different?</a></li>
                <li id="tasteTab"><a href="javascript:;" onclick="showPage('taste')">A taste of Soirée</a></li>
                <li id="partyTab" class="active"><a href="javascript:;" onclick="showPage('party')">Party August 11th</a></li>

                <li></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>

</nav>

<div id="_container">
    <!-- Info -->
    <div id="info-container" class="tab-div">
        <div style="text-align:center"><h2 class="tab-header"><strong>What is <span class="party-let tab-header-party-let">Soirée?</span></strong></h2></div>

        <p class="info-text">Millennials no longer know how to approach and make friends in the real world. Instead of giving a hello and a smile, they’d rather be behind a keyboard for hours - only to get a handful of matches and even fewer real-world meetups.</p>
        <p class="info-text">Soirée is ending the trend of spending hours swiping and going through creepy messages. We’re here to redefine how millennials make friends by putting new connections back where they’re supposed to be - in the real world.</p>
        <p class="info-text">Soirée is a free exclusive members-only society that allows people to go on Soirées, unique events with anywhere from 10 to 100 people; designed to make meeting new people easy, safe, and most of all, fun. After a single Soirée, you’ll have met more new fun people than you would in a month’s worth of going out to bars!</p>
        <p class="info-text">Even better – we at Soirée care about your safety. That’s why everyone who is approved as a Soirée Insider has their identity verified with our quick 2 step ID verification system. It’s fun, only takes a second, yet you’ll never have to worry about creepy messages, fake profiles, and catfishing ever again!</p>

    </div>

    <!-- Taste -->
    <div id="taste-container" class="tab-div">
        <div style="text-align:center"><h2 class="tab-header"><strong>A taste of <span class="party-let tab-header-party-let">Soirée</span></strong></h2></div>

        <p class="info-text">On Soirée, we partner with dozens of unique hand-picked venues, restaurants, bars, and clubs that work to offer our Insiders the most comfortable mingling experience you’ll ever have. </p>

        <p class="info-text">Soirée is not just for dating. We offer anyone who is looking to mingle interesting group options and deals every night of the week (and brunch on the weekends), so that you can pick the type of location you’ll feel most comfortable in. (For those looking to date, join a Soirée For Singles!)
        <p class="info-text"> Here’s just a taste of what’s coming starting August 22nd:</p>

        <h4 class="social-soirees-section"><strong>Social Soirées:</strong></h4>
        <p class="info-text"> For an instant connection with dozens of people. Unwinding after work? New to the area? Bored? Social Soirées are exciting themed group nights out. No more waiting on friends to have fun. Make tons of new friends - on your own time</p>
        <ul class="social-soirees-list">
            <li>Comedy Soirée <a href="javascript:;" onclick="showPage('party')">(Join our first one August 11th!)</a></li>
            <li>Endless Margaritas and Apps Soirée</li>
            <li>Wine and Cheese Buffet Soirée</li>
            <li>Bowling and Booze Soirée</li>
            <li>Late Night Improv Soirée</li>
            <li>Group Karaoke Soirée (don’t be shy, you’ll win stuff!)</li>
            <li>Tuesday Trivia Soirée</li>
            <li>Group Hookah Night Soirée</li>
            <li>Themed Open Bar Soirées</li>
            <li>Old School Barcade Night Soirée</li>
            <li>Drink Special Soirée Happy Hours</li>
            <li>Thirsty Thursday Soirée</li>
            <li>Dance Night Soirée</li>
            <li>Game Night Soirée</li>
            <li>Group TV Premiere Night Soirée</li>
            <li>Weekend Paintball Soirées</li>
            <li>After Party Soirée</li>
            <li>Gladiator Tournament Soirées (sign up now to learn more about this crazy new experience)</li>
            <li>Tequila Tuesday Sombrero Soirée</li>
        </ul>


        <h4 class="social-soirees-section"><strong>Soirées for Singles:</strong></h4>
        <p class="info-text">Date in the real world again. Soirée hosts unique events meant to provide dynamic new dating experiences. From 50-person group blind dates to group speed-dating with your best friend, Soirée provides outside-the-box ways to break the ice in your search for love!</p>

        <h4 class="social-soirees-section"><strong>Movie Soirées:</strong></h4>
        <p class="info-text">Nobody wants to go to the movies alone. But you’re not really alone – theatres are full of strangers sitting together for hours. Buying a Soirée ticket links you with other friendly moviegoers. Stop hearing friends say they’re busy, watch the movie you want on your own time - and make a whole new group of friends!</p>

    </div>

    <!-- Different -->
    <div id="different-container" class="tab-div">
        <div style="text-align:center"><h2 class="tab-header"><strong>How are we different?</strong></h2></div>

    </div>

    <!-- Party -->
    <div id="party-details-container" class="tab-div">
        <h1 id="party-details-header"><span>Soirée</span> Takes Over Broadway</h1>

        <div id="party-details-address">
            <h4> <strong>Thursday, August 11th</strong> at <strong>6:30 PM</strong></h4>
            <h4> <strong>Broadway Comedy Club </strong></h4>
            <h4> <strong>318 W 53rd St</strong></h4>
            <h4> <strong>New York, NY 10019</strong></h4>
        </div>

        <div id="party-details-description">
            <p class="party-details">Join us and a hundred other exclusive Insiders at the famous Broadway Comedy Club as we celebrate the launch of the Soirée beta, with two hours of laughs, cheap drinks, chatting with interesting strangers, and a sneak peek into the future of new friendships. Hosted by provocative up-and-coming comedian Juannell Riley and featuring the most unique lineup of comedians ever, you will NOT leave this show without several lines to tell your friends and co-workers tomorrow.</p>
            <p class="party-details">Buy your ticket below, and make sure to download the Soirée app when it hits the app store August 8th to take advantage of an incredible deal that you will not find anywhere else!</p>
        </div>



        <div style="text-align:center">
            <button class="button" id="open-payment-button" onClick="showPaymentForm()"><span>Reserve Your Spot</span></button>
        </div>


    </div>

    <div id="bt-form-padding"></div>
    <div id="bt-dropin-wrapper">

        <div id="soiree-party-details">
            <h4 style="text-align:center">Cost:</h4>
            <h4 style="text-align:center"><strong>$21.00</strong></h4>
            <br />
            <h4>What you get:</h4>
            <ul id="soiree-party-details-list">
                <li>2 hour long comedy show</li>
                <li>2 free drinks</li>
                <li>Pokemon Go Lures all night long</li>
            </ul>

            <br />
            <h4><strong>Note: You must be 18+ to enter the club, and 21+ to buy drinks.</strong></h4>
            <br />
        </div>



        <form id="paymentForm" action="/party" method="POST">
            <div id="bt-dropin"></div>
            <input type="text" class="payment-field-additional" name="name" placeholder="Name" required />
            <input type="email" class="payment-field-additional" name="email" placeholder="Email" required />
            <!--<input type="text" class="payment-field-additional" name="email" placeholder="Phone Number" required />-->


            <div class="radioButtonDiv">
            <span class="radioButtonDivLabel"> My phone runs on: </span>
            <label class="btn btn-lg btn-default radioButton"><input type="radio" name="os" value="ios" required/> iOS </label>
                <label class="btn btn-lg btn-default radioButton"><input type="radio" name="os" value="android" required /> Android</label>
            </div>

            <div class="radioButtonDiv">
                <span class="radioButtonDivLabel"> I identify my gender as: </span>
                <label class="btn btn-lg btn-default radioButton"><input type="radio" name="gender" value="male" required/> Male </label>
                <label class="btn btn-lg btn-default radioButton"><input type="radio" name="gender" value="female" required /> Female </label>
                <label class="btn btn-lg btn-default radioButton"><input type="radio" name="gender" value="neither" required /> Neither </label>
            </div>

            <button class="form-control"  id="payment-button" type="submit"><span>Join the Party</span></button>
        </form>
        <div style="text-align:center">

        <button id="back-button" onclick="backToPartySignup()">Back</button>
            </div>
    </div>


    <p id="fine-print">Any questions? Contact us at <a style="text-decoration: none;" href="mailto:support@experiencesoiree.com"><strong>support@experiencesoiree.com</strong></a> <br/> <a href="/privacy-policy"><strong>Privacy Policy</strong></a> </p>



</div>


