{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/consumer/party.css" />
{{/extend}}

{{#extend "scripts"}}
<!-- <script src="/javascripts/"></script> -->
<script>

</script>
{{/extend}}

<div id="_colorContainer">
    <div id="messageContainer">
        <h1><strong>Congratulations!</strong></h1>
        <br />
        <p> You're signed up for the first ever Soirée on <strong>Thursday, August 11 at 6:30 PM </strong>. We've emailed you a copy of your receipt along with a copy of the 3 digit code (below) that you give to the bartender that allows him/her to confirm your reservation. <br /> Please make sure to arrive at 6:30 PM. Can't wait to see you there! </p>
        <p>xoxo,</p>
        <p>The Team at Soirée</p>
        <br />
        <h1> Confirmation Code : <strong> {{code}}</strong></h1>
    </div>
</div>

