{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/businesses/contact.css" />
{{/extend}}

{{#extend "scripts"}}
<script src="/javascripts/"></script>
<script>

</script>
{{/extend}}

<h3 id="contactHeader">Contact Us</h3>
<!--<form action="/businesses/contact" method="POST" id="contactForm">-->
    <!--<label>Title:</label> <input type="text" placeholder="Title" id="contactTitleField"/>-->
    <!--<label>Message:</label> <textarea placeholder="Message" id="contactTextBox"></textarea>-->
    <!--<input type="submit"/>-->
<!--</form>-->
<p id="contactMessage">To contact us, email <strong><a href="mailto:support@experiencesoiree.com">support@experiencesoiree.com</a></strong></p>