{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/" />
{{/extend}}

{{#extend "scripts"}}
<script src="/javascripts/"></script>
<script>

</script>
{{/extend}}

<ul>
    {{#each today}}
        <li>
            <ul>
                <h4>Reservation</h4>
                <li>
                    Reservation Id : {{this.reservationId}}
                </li>
            </ul>
        </li>
    {{/each}}
</ul>