{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/" />
{{/extend}}

{{#extend "scripts"}}
<script src="/javascripts/"></script>
<script>

</script>
{{/extend}}

<ul>
    {{#each soiree}}
        <li>
            <ul>
                <h4></h4>
                <ul>
                    <li> : </li>
                    <li></li>
                </ul>
            </ul>
        </li>
    {{/each}}
</ul>