{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/" />
{{/extend}}

{{#extend "scripts"}}
    <script src="/javascripts/"></script>
    <script>

    </script>
{{/extend}}
{{#if business._confirmedReservations}}
<ul>{{#with business._confirmedReservations as reservation}}
    {{#each reservation}}
        <li><img src = '" + {{reservation.userProfilePictureUrl}} + "'/><li>
        <li>Name: {{reservation.userFullName}}</li>
        <li>Age: {{reservation.userAge}}</li>
        <li>Amount Prepaid: {{reservation.amountPrepaid}}</li>
    {{/each}}
{{/with}}
{{/if}}
</ul>