{{#extend "stylesheets"}}
   <!-- <link rel="stylesheet" href="/stylesheets/" /> -->
{{/extend}}

{{#extend "scripts"}}
<!-- <script src="/javascripts/"></script> -->
<script>

</script>
{{/extend}}

<h3> Soiree </h3>
<div>
    <ul>
        <li> Soiree Id : {{soiree.soireeId}}</li>
        <li> Number of users signed up so far: {{numUsersSignedUp}}</li>
        <li> Total amount earned so far : {{totalAmountEarned}}</li>
        <li> Starts at: </li>
    </ul>
</div>
